<launch>

    <include file="$(find aruco_ros)/launch/aruco_robot1.launch" />
    
     <!--robot pose  -->
    <node pkg="aruco_localization" type="robot_loc" name="robot_loc_1" output="screen">
        <remap from="/aruco_robot_n/pose" to="/aruco_robot_1/pose"/>
        <remap from="/robot_pose" to="/robot1_pose"/>
    </node>


</launch>